<div class="container header">
    <div class="container header">
        <a href="{{p.url}}">{{p.problem}}: {{p.problemTitle}}</a>
        <p>
            <span>{{p.problemDesc}}</span>
        </p>
    </div>
    <div class="container">
        <form (ngSubmit)="solve(addForm)" [formGroup]="addForm">
            <div class="card card-header">
                <label for="Target">Target</label>
            </div>
            <div class="form-group">
                <input type="number" class="form-control"
                    id="Target" aria-describedby="TargetHelp" 
                    formControlName="Target" autofocus required />
                <small id="TargetHelp" class="form-text text-muted" hidden>
                    Largest Number
                </small>
                <button type="submit" class="btn btn1">Solve</button>
            </div>
        </form>
    </div>
    <div class='container'>
        <div class="card card-header">
            {{p.resStr}} {{target}}:
        </div>
        <div class="card card-body">
            {{result}}
        </div>
        <div class="card-footer">&nbsp;</div>
    </div>
    <p>&nbsp;</p>
</div>