@import "../../styles.scss";

.header span {
    margin: .5em;
    padding-left: 1em;
    height: 1.6em;
    border-radius: 4px;
}

.results {
    border-color: $d4;
    color: darkgray;
    font-family: Cambria, Georgia;
}