<!--The content below is only a placeholder and can be replaced.-->
<div class="container header">
  <nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" routerLink="/">Project Euler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            Problems
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/problem/1">Problem 1</a>
            <a class="dropdown-item" routerLink="/problem/2">Problem 2</a>
            <a class="dropdown-item" routerLink="/problem/3">Problem 3</a>
            <a class="dropdown-item" routerLink="/problem/4">Problem 4</a>
            <a class="dropdown-item" routerLink="/problem/5">Problem 5</a>
            <a class="dropdown-item" routerLink="/problem/6">Problem 6</a>
            <a class="dropdown-item" routerLink="/problem/7">Problem 7</a>
            <a class="dropdown-item" routerLink="/problem/8">Problem 8</a>
            <a class="dropdown-item" routerLink="/problem/9">Problem 9</a>
            <a class="dropdown-item" routerLink="/problem/10">Problem 10</a>
          </div>
        </li>
      </ul>
      <app-breadcrumb></app-breadcrumb>
    </div>
  </nav>
  <div class='cmp'>
    <router-outlet></router-outlet>
  </div>
  <div class='container'>
    <label>Select your theme:</label>
    <footer class="footer">
      <button class='btn btn-primary' (click)='dark()'>Dark</button>
      <button class='btn btn-primary' (click)='light()'>Light</button>
    </footer>
  </div>
</div>
