/* You can add global styles to this file, and also import other style files */
$d1: rgb(70, 60, 143);
$d2: rgb(206, 12, 136);
$d3: rgb(238, 69, 61);
$d4: rgb(0, 165, 186);
$d5: rgb(208, 208, 206);
$d6: rgb(177, 179, 179);


html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 4000ms !important;
    transition-delay: 0 !important;
}

html {
    --bg0: hsl(240, 0%, 90%);
    --bg1: hsl(240, 0%, 85%);
    --bg1: hsl(240, 0%, 80%);
    --fg0: hsl(240, 00%, 30%);
    --fg1: hsl(240, 00%, 20%);
    --fg2: hsl(240, 00%, 10%);
    --ab1:  hsl(280, 100%, 40%);
    --af1:  hsl(240, 10%, 90%);
    --ab0:  #3700B3;
    --af0:  hsl(240, 10%, 10%);
    --ab2:  #03DAC6;
    --af2:  hsl(240, 10%, 10%);
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);

    --link-color: hsl(210, 90%, 70%);
    --accent-color: hsl(25, 100%, 70%);
    --error-color: rgb(240, 50, 50);

    --button-background: hsl(210, 63%, 43%);
    --buton-text-color: black;
}


html[data-theme='dark'] {
    --bg0: hsl(210, 25%, 20%);
    --bg1: hsl(210, 25%, 30%);
    --bg2: hsl(210, 25%, 40%);
    --fg0: hsl(210, 25%, 60%);
    --fg1: hsl(210, 25%, 90%);
    --fg2: hsl(210, 15%, 100%);
    --ab0: hsl(210, 35%, 40%);  // forms
    --af0: hsl(210, 15%, 100%);
    --ab1: hsl(210, 30%, 40%);  // results
    --af1: hsl(210, 15%, 100%);
    --ab2: hsl(210, 45%, 40%);
    --af2: hsl(210, 15%, 100%);
    --ab3: hsl(210, 55%, 40%);   // highlights
    --af3: hsl(210, 15%, 100%);
    --text-color-highlight: hsl(25, 70%, 45%);

    --link-color: hsl(210, 90%, 70%);
    --accent-color: hsl(25, 100%, 70%);
    --error-color: rgb(240, 50, 50);

    --button-background: hsl(210, 63%, 43%);
    --buton-text-color: black;
}

html[data-theme='hawaiian'] {
    --bg0: rgb(208, 208, 206);  // used
    --bg1: rgb(255, 255, 255);  // used
    --bg2: rgb(196, 196, 198);
    --fg0: rgb(50,50,50);  // used
    --fg1: rgb(30,30,30);  // used
    --fg2: rgb(10,10,10);
    --ab1: rgb(206, 12, 136);  // used
    --af1: rgb(240, 240, 240);
    --ab0: rgb(70, 60, 143);  // used
    --af0: rgb(206, 206, 206);
    --ab2: rgb(238, 69, 61);
    --af2: rgb(206, 206, 206);
    --ab3: rgb(0, 165, 186);  // used
    --af3: rgb(206, 206, 206);
    --text-color-highlight: hsl(25, 70%, 45%);

    --link-color: hsl(210, 90%, 70%);
    --accent-color: hsl(25, 100%, 70%);
    --error-color: rgb(240, 50, 50);

    --button-background: hsl(210, 63%, 43%);
    --buton-text-color: black;
}

body {
    background: var(--bg0);
    color: var(--fg0);
}

.btn {
    background: var(--bg1);
    color: var(--fg1);
    border-color: var(--ab3);
}

.btn:hover {
    background: var(--ab3);
}

.button-primary {
    background: var(--bg1);
    color: var(--fg1);
    border-color: var(--ab3);
}

form {
    background: var(--ab1);
    color: var(--af1);
}

.form-control:focus {
    border-color: var(--ab3);
    box-shadow: 0px 0px 1px var(--ab3);
    background: var(--bg0);
    color: var(--fg0);
}

.form-control {
    background: var(--bg1);
    color: var(--fg1);
}

.header {
    background: var(--bg1);
    color: var(--fg1);
    font-size: 1.0em;
}

.header a {
    color: var(--fg0);
}

.header a:hover {
    color: var(--ab1);
}

.card-header {
    background: var(--ab1);
    color: var(--af1);

}
.card-body {
    background: var(--bg2);
    color: var(--fg2);
}
.card-footer {
    background: var(--ab1);
    color: var(--af1);
    margin: 0px;
}

.navbar-brand {
    font-variant: small-caps; 
    text-decoration: underline;
    font-size: 1.4em;
    // border: 1px solid black;
}